* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    overflow-x: hidden;
    font-family: "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
    /* background: linear-gradient(180deg, #000046, #1cb5e0, #302b63, #24243e); */
}

.en {
    font-family: 'Cormorant Garamond';
}

.cookie {
    width: 70%;
    height: auto;
    background: white;
    display: none;
    justify-content: space-between;
    position: fixed;
    top: 90%;
    left: 30%;
    z-index: 3;
}

.cookie.show {
    display: flex;
}

.cookie button {
    background: white;
    margin: 0;
    padding: 0;
    height: 4vh;
    border: 1px solid black;
}

header {
    width: 100%;
    height: 13vh;
    background: transparent;
    display: flex;
    align-items: center;
    position: absolute; 
    z-index: 2;
    backdrop-filter: blur(15px);
}

.switch-lang {
    position: absolute;
    left: 5%;
}

.switch-lang a {
    text-decoration: none;
}

.switch-lang p {
    color: black;
    font-family: 'Cormorant Garamond';
}

.header-list {
    display: flex;
    gap: 6vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-list a {
    text-decoration: none;
}

.header-list p {
    color: black;
    font-weight: bold;
    font-family: 'Cormorant Garamond';
}

#searchInput:focus {
    outline: none;
}

.search-box {
    position: absolute;
    left: 75%;
}

.menu img {
    width: 4vw;
    height: auto;
    position: absolute;
    top: 50%;
    left: 93%;
    transform: translateY(-50%);
}

.top-container {
    background-image: url(images/body-img.jpg);
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 300vh;
    position: relative;
    mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}

.top-container p {
    font-family: 'Cormorant Garamond';
}

.container {
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
    border: 0px solid black;
    text-align: center;
    margin: 0;
}

.typewriter {
    display: flex;
    justify-content: left;
}

.msg1, .msg2, .msg3 {
    display: inline-block;
    /* font-family: 'Cormorant Garamond'; */
    font-family: "Times New Roman", Times, serif;
    margin-inline: auto;
    overflow: hidden;
    white-space: nowrap;
    border-right: 1px solid black;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.msg1 {
    animation: typing1 0.2s steps(3) forwards, blink1 1s step-end;
    animation-fill-mode: forwards, forwards;
}

.msg2 {
    animation: typing2 1s steps(12) forwards, blink 4.5s step-end ;
    animation-delay: 0s, 1s;
    animation-fill-mode: forwards, forwards;
}

.msg2.hidden {
    display: none;
}

.msg3 {
    animation: typing3 2s steps(12) forwards, blink3 1s step-end infinite;
    animation-fill-mode: forwards, forwards;
}

.msg3.hidden {
    display: none;
}

@keyframes typing1 {
    from {width: 0;}
    to {width: 100%;}
}

@keyframes typing2 {
    from {width: 0;}
    to {width: 100%;}
}

@keyframes typing3 {
    0% {width: 0;}
    50% {width: 31.6%;}
    100% {width: 0%;}
}

@keyframes blink1 {
     0% { border-color: transparent; }
    50% { border-color: black; }
   100% {border-color: transparent;}
}

@keyframes blink {
    0% { border-color: black; }
    13% { border-color: transparent; }
   26% {border-color: black;}
   39% { border-color: transparent; }
   52% {border-color: black;}
   65% { border-color: transparent; }
   78% {border-color: black;}
   91% { border-color: transparent; }
   100% { border-color: transparent; }
}

@keyframes blink3 {
    50% { border-color: transparent;}
}

.container p {
    font-size: 3.5vh;
    width: 100%;
    text-wrap: wrap;
    line-height: 2;
    font-weight: normal;
    color: black;
    /* font-family:'Cormorant Garamond'; */
    margin: 0;
}

.second-container {
    display: flex;
    flex-direction: column;
    padding-top: 10vh;
    width: 100vw;
    max-width: 100vw;
    height: auto;
    /* border: 1px solid black; */
    justify-content: center;
}

.three-components {
    max-width: 100vw;
    width: 100vw;
    height: 50vh;
    /* min-height: 100vh; */
    /* border: 1px solid black; */
    display:flex;
    justify-content: center;
    gap: 3vw;
    /* border: 1px solid black; */
    margin-bottom: 10vh;

}

.component {
    width: 18%;
    height: 36vh;
    /* border: 1px solid black; */
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    position: relative;
}


.component p {
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 4vh;
    font-weight: bold;
    backdrop-filter: blur(5px);
    letter-spacing: 0.2vw;
}

#grammar li {
    line-height: 1.5;
    font-size: 2.5vh;

}

.ipa-symbols li {
    font-family: 'Cormorant Garamond';
}

.vocab-words li {
    font-family: 'Cormorant Garamond';
}

.estimate {
    width: 10vw;
    height: auto;
    padding: 2vh;
    text-wrap: wrap;
    position: absolute;
    top: 120%;
    left:-50%;
    font-weight: bold;
    background: whitesmoke;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    clip-path: polygon(
        0 0,
        calc(100% - 20px) 0,
        100% 20px,
        100% calc(100% - 20px),
        calc(100% - 20px) 100%,
        0 100%,
        0 20px
    );
}

#pronunciation li {
    font-size: 5vh;
    position: absolute
}

#vocabulary li {
    font-size: 3vh;
    position: absolute;
}

.three-components img {
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: block;
}

/* .arrowline {
    width: 0;
    height: 100vh;
    border-left: 1px solid lightgray;
    position: absolute;
    z-index: 3;
} */

.arrowline {
    width: 0;
    border-left: 1px solid black;
    position: absolute;
    top: 0; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
    animation: moveLine 3s ease-in-out infinite, sizechange 3s ease-in-out infinite;
}

.arrowline2 {
    width: 0;
    border-left: 1px solid black;
    position: absolute;
    top: 0; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
    animation: moveLine 3s ease-in-out infinite, sizechange2 3s ease-in-out infinite;
}

@keyframes moveLine {
      0% {
        top: 0;
      }
      100% {
        top: 100%;
      }
    }

@keyframes sizechange {
    0% {
        height: 0; 
    }
    50% {
        height: 100px;
    }
    100% {
        height: 0;
    }
    }

@keyframes sizechange2 {
    0% {
        height: 0; 
    }
    50% {
        height: 60px;
    }
    100% {
        height: 0;
    }
    }

.graph-container {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(images/background3.jpg);
    background-size: cover;
    background-position: center 40%;
    position: relative;
}

.graph-innercontainer {
    backdrop-filter: blur(5px);
    border-radius: 5px;
    width: 75%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4vw;
}

.img-container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: right;
    position: relative;
}

.higgs {
    width: 70%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.detail-open {
    position: absolute;
    top: 50%;
    left: 15%;
    width: 2.5vw;
    height: 2.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    border: none;
}

.detail-msg {
    position: absolute;
    top: 39%;
    left: 13%;
    color: white;
    font-size: 2vh;
}

.detail-container {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
}

.detail-container.show {
    display: block;
}

.detail-innercontainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 50vh;
    background: white;
    border-radius: 5px;
    z-index: 10;
    padding: 3vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.detail-innercontainer p {
    font-size: 3vh;
    /* border: 1px solid black; */
    margin: 0;
}

.detail-close {
    background: white;
    border: none;
    text-decoration: underline;
}

.list-container {
    width: 80%;
    height: 80%;
    /* border: 1px solid black; */
    display: flex;
    /* align-items: center; */
    /* border-radius: 5px; */
    background-color: white;

}

ol {
    padding: 0;
    margin-left: 3vw; 
    border-left: 1px solid black;
    height: 88%;
    width: 85%;
}

.breakdown {
    position: relative;
    margin-bottom: 2.8vh;
    padding-left: 4vw;
    list-style: none;
}

.breakdown p {
    font-size: 2.3vh;
}

.breakdown::before {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    width: 10vh;
    height: 5vh;
    text-align: center;
    position: absolute;
    top: 0%;
    left: -9%;
    font-weight: bold;
}

.level1::before {
    content: 'Level 1';
    font-family: 'Cormorant Garamond';
}

.level2::before {
    content: 'Level 2';
    font-family: 'Cormorant Garamond';
}

.level3::before {
    content: 'Level 3';
    font-family: 'Cormorant Garamond';
}

.level4::before {
    content: 'Level 4';
    font-family: 'Cormorant Garamond';
}

.level5::before {
    content: 'Level 5';
    font-family: 'Cormorant Garamond';
}

.list-container p {
    background: white;
    margin: 0;
    padding: 1vh 1vw 2vh 1vw;
}

.third-container {
    width: 100%;
    height: auto;
}

.three-patterns {
    display: flex;
    width: 100%;
    padding-top: 5vh;
    gap: 3vw;
    justify-content: center;
}

.pattern1, .pattern2, .pattern3 {
    width: 25%;
    aspect-ratio: 1 / 1.5;
    background: white;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.patterns_innerbox {
    width: 95%; 
    height: 35%; 
    margin: 0 auto; 
    /* border: 1px solid black;  */
    border-radius: 5px; 
    /* box-shadow: inset 5px 5px 10px #bebebe,
              inset -5px -5px 10px #ffffff; */
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5);
    position: relative;
}

.box {
    width: 80%;
    height: 5vh;
    margin: 3vh auto; 
    border-bottom: 2px solid black;
    position: relative;
}

.pattern1 .box, .pattern2 .box {
    height: 7vh !important;
}

.pattern3 .box {
    height: 4vh;
}

.pattern1 .box::before,
.pattern2 .box::before {
    top: 75% !important;
}

.pattern1 .box::after,
.pattern2 .box::after {
    top: 75% !important;

}

.pattern3 .box::before {
    top: 62%;
}

.box::before {
    width: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 65%;
    left: 0%;
    color: black;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.box::after {
    width: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 65%;
    left: 50%;
    color: black;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.vocab::before {
    content: 'Vocab';
    font-family: 'Cormorant Garamond';
}

.gram_pron::before {
    content: 'Gram';
    font-family: 'Cormorant Garamond';
}

.gram_pron::after {
    content: 'Pron';
    font-family: 'Cormorant Garamond';
}

.gram_pron2::before {
    content: 'Pron';
    font-family: 'Cormorant Garamond';
}

.gram_pron2::after {
    content: 'Gram';
    font-family: 'Cormorant Garamond';
}

.gram::before {
    content: 'Gram';
    font-family: 'Cormorant Garamond';
}

.pron::before {
    content: 'Pron';
    font-family: 'Cormorant Garamond';
}

.pattern-annotation {
    width: 95%;
    height: 27%;
    margin: 2vh auto; 
    /* border: 1px solid black; */
    padding: 0;
}

.pattern-annotation li, 
.pattern-annotation p {
    font-size: 2.2vh;
}

.pattern-annotation ul {
    padding-left: 3vh;
}

.pattern-annotation li {
    padding: 1vh 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 15vw 15vw 15vw 15vw 15vw;
    grid-template-rows: 10vh 50vh 25vh 38vh;
    position: relative;
}

.grid-container li {
    font-size: 2.1vh;
}

.grid-container ul {
    padding-left: 2vw;
}

.grid1-2 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    /* box-shadow: 0 0 4px rgba(0, 0, 0, 0.5); */
    background: #f5ecf4;
    clip-path: polygon(
    0 0,                        
    100% 0,                     
    100% calc(100% - 25%),     
    calc(100% - 50%) 100%,     
    50% 100%,                  
    0 calc(100% - 25%)         
    );
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-right: 1vw;
    font-family: 'Cormorant Garamond';
}

.grid1-3 {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    /* box-shadow: 0 0 4px rgba(0, 0, 0, 0.5); */
    background: #f5ecf4;
    clip-path: polygon(
    0 0,                        
    100% 0,                     
    100% calc(100% - 25%),     
    calc(100% - 50%) 100%,     
    50% 100%,                  
    0 calc(100% - 25%)         
    );
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-right: 1vw;
    font-family: 'Cormorant Garamond';
}

.grid1-4 {
    grid-row: 1 / 2;
    grid-column: 4 / 5;
    /* box-shadow: 0 0 4px rgba(0, 0, 0, 0.5); */
    background: #f5ecf4;
    clip-path: polygon(
    0 0,                        
    100% 0,                     
    100% calc(100% - 25%),     
    calc(100% - 50%) 100%,     
    50% 100%,                  
    0 calc(100% - 25%)         
    );
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-right: 1vw;
    font-family: 'Cormorant Garamond';
}

.grid1-5 {
    grid-row: 1 / 2;
    grid-column: 5/ 6;
    /* box-shadow: 0 0 4px rgba(0, 0, 0, 0.5); */
    background: #f5ecf4;
    clip-path: polygon(
    0 0,                        
    100% 0,                     
    100% calc(100% - 25%),     
    calc(100% - 50%) 100%,     
    50% 100%,                  
    0 calc(100% - 25%)         
    );
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: 'Cormorant Garamond';
}

.grid2-1 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    background: lightgray;
    clip-path: polygon(
        0 0,
        calc(100% - 15%) 0,
        100% 50%,
        100% calc(100% - 50%),
        calc(100% - 15%) 100%,
        0 100%,
        0 20px
    );
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 1vw 1vw 0 0;
}

.grid2-2 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    background: white;
    margin: 1vw 1vw 0 0;
}

.grid2-3 {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    background: white;
    margin: 1vw 1vw 0 0;
}

.grid2-4 {
    grid-row: 2 / 3;
    grid-column: 4 / 5;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    background: white;
    margin: 1vw 1vw 0 0;
}

.grid2-5 {
    grid-row: 2 / 3;
    grid-column: 5 / 6;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    background: white;
    margin: 1vw 0 0 0;
}

.grid3-1 {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    background: lightgray;
    clip-path: polygon(
        0 0,
        calc(100% - 15%) 0,
        100% 50%,
        100% calc(100% - 50%),
        calc(100% - 15%) 100%,
        0 100%,
        0 20px
    );
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 1vw 1vw 0 0;
}

.grid3-2 {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    background: white;
    margin: 1vw 1vw 0 0;
}

.grid3-3 {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    background: white;
    margin: 1vw 1vw 0 0;
}

.grid3-4 {
    grid-row: 3 / 4;
    grid-column: 4 / 5;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    background: white;
    margin: 1vw 1vw 0 0;
}

.grid3-5 {
    grid-row: 3 / 4;
    grid-column: 5 / 6;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    background: white;
    margin: 1vw 0 0 0;
}

.grid4-1 {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    background: lightgray;
    clip-path: polygon(
        0 0,
        calc(100% - 15%) 0,
        100% 50%,
        100% calc(100% - 50%),
        calc(100% - 15%) 100%,
        0 100%,
        0 20px
    );
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 3vw 1vw 0 0;
}

.grid4-2 {
    grid-row: 4 / 5;
    grid-column: 2 / 5;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    background: white;
    margin: 3vw 1vw 0 0;
    position: relative;
}

.grid4-2 li {
    padding: 0.5vh 0;
}

/* .grid4-3 {
    grid-row: 4 / 5;
    grid-column: 3 / 4;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    background: white;
    margin: 2vw 1vw 0 0;
} */

/* .grid4-4 {
    grid-row: 4 / 5;
    grid-column: 4 / 5;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    background: white;
    margin: 2vw 1vw 0 0;
} */

.grid4-5 {
    grid-row: 4 / 5;
    grid-column: 5 / 6;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    background: white;
    margin: 3vw 0 0 0;
}

.fourth-container {
    width: 100%;
    height: 100vh;
    background-color: white;
    padding-top: 0.5vh;
}

.flex-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.flex-box {
    width: 20%;
    margin: 5vh 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    background: white;
}

.flex-innerbox {
    width: 100%;
    aspect-ratio: 1 / 0.8;
    /* background: white; */
    /* box-shadow: 0 0 4px rgba(0, 0, 0, 0.5); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-box p {
    width: 100%;
    /* border-left: 2px solid #6c63ff; */
    margin: 0;
    padding: 1vh 2vh 1vh;
}

.flex-box img {
    width: 80%;
    height: auto;
}

.fourth-title {
    margin-left: 12vw;
    margin-bottom: 10vh;
    padding-bottom: 2vh;
    font-size: 5vh;
    position: relative;
}

.fourth-title::after {
    content: "";
    width: 15vw;
    height: 0;
    border-bottom: 2px solid #6c63ff;
    position: absolute;
    top: 100%;
    left: 0%;
}